.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 3.75em;
    text-align: center;

    &__input {
        padding: 0.5rem 1rem;
        font-family: $font;
        font-size: 1rem;
        color: $black;
    }

    &__button {
        padding: .5rem 1rem;
        display: inline-block;
    }
}