.pagination {
    text-align: center;
    margin-bottom: 3.75rem;

    &__button {
        display: inline-block;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        vertical-align: middle;
    }

    &__page-number {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 2em;
        vertical-align: middle;
    }
}