.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

    &__head-item {
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $white;
            background-color: $accent-l;
        }
    }

    &__row {
        cursor: pointer;

        &:nth-child(2n) {
            background-color: #f1f1f1;
        }

        &:hover {
            background-color: #f9f9f9;
        }
    }

    &__head-item_active {
        color: $white;
        background-color: $accent-d;
    }

    &__sort {
        float: right;
    }

    &__sort_unset {
        transform: rotate(90deg);
    }

    &__sort_ascend {
        transform: rotate(180deg);
    }

    &__item {
        min-width: 8rem;
        padding: .5rem 1rem;
        text-align: left;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .table {
        font-size: 0.75rem;
    }
}