.table{
    width: 100%;

    &__head-item {
        cursor: pointer;
        user-select: none;

        &:hover {
            background-color: #f7f7f7;
        }
    }

    &__head-item_active {
        background-color: #888888;
    }

    &__sort {
        float: right;
    }

    &__sort_unset {
        transform: rotate(90deg);
    }

    &__sort_ascend {
        transform: rotate(180deg);
    }

    &__item {
        min-width: 8rem;
        padding: .5rem 1rem;
        text-align: left;
    }

    &__row {
        &:nth-child(2n) {
            background-color: #f1f1f1;
        }
    }
}