//Fonts
$font: 'Heebo', sans-serif;

//Palette
$accent: #A349B9;
$accent-l: rgb(212, 129, 233);
$accent-d: rgb(141, 59, 161);
$black: #111111;
$gray: #888888;
$white: #f3f3f3;

$bg: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);