//Fonts
$bebas: "Bebas", sans-serif;
$museo: "Museo", sans-serif;

//Palette
$accent: #FF3754;
$black: #000000;
$gray: #888888;
$white: #FFFFFF;

$bg: linear-gradient(180deg, #FDF4F4 0%, #ECF3EC 100%);